@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:focus {
  outline: 0;
  box-shadow: 0 0 0 2px theme(colors.brand.blue);
}

body {
  background-color: theme(colors.brand.baseBackground);
  color: theme(colors.brand.baseText);
  -webkit-font-smoothing: antialiased;
}

body, input, textarea, button {
  font: 400 1rem Nunito, sans-serif;
}
