.headerContainer {
  border-bottom: 1px solid var(--gray-800);
  height: 5rem;
}

.headerContent {
  align-items: center;
  display: flex;
  height: 100%;
  margin: 0 auto;
  padding: 0 2rem;
  max-width: 1120px;
  
  nav {
    height: 5rem;
    margin-left: 5rem;

    a {
      color: var(--gray-300);
      display: inline-block;
      height: 5rem;
      line-height: 5rem;
      position: relative;
      padding: 0 0.5rem;
      transition: color 0.2s;

      & + a { // Utilizado para que toda tag a que tenha uma tag a antes dela recebe a estilização
        margin-left: 2rem;
      }

      &:hover {
        color: var(--white);
      }

      &:active {
        color: var(--white);
        font-weight: bold;
      }

      &.active::after {
        border-radius: 3px 3px 0 0;
        content: '';
        height: 3px;
        width: 100%;
        position: absolute;
        bottom: 1px;
        left: 0;
        background-color: var(--yellow-500);
      }
    }
  }

  button {
    margin-left: auto;
  }
}
